parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:authenticate\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Auth/Guard/Guard.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:check\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Auth/Guard/Guard.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:findByCredentials\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: src/Auth/Guard/Guard.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:findById\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Auth/Guard/Guard.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:getActivationRepository\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Auth/Guard/Guard.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:getReminderRepository\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: src/Auth/Guard/Guard.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:logout\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Auth/Guard/Guard.php

		-
			message: '#^Parameter \#1 \$config of class Cartalyst\\Sentinel\\Native\\SentinelBootstrapper constructor expects array\|null, Cartalyst\\Sentinel\\Native\\ConfigRepository given\.$#'
			identifier: argument.type
			count: 1
			path: src/Auth/Guard/Guard.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:findRoleById\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Auth/Guard/GuardRole.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:getRoleRepository\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Auth/Guard/GuardRole.php

		-
			message: '#^Parameter \#1 \$config of class Cartalyst\\Sentinel\\Native\\SentinelBootstrapper constructor expects array\|null, Cartalyst\\Sentinel\\Native\\ConfigRepository given\.$#'
			identifier: argument.type
			count: 1
			path: src/Auth/Guard/GuardRole.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:findById\(\)\.$#'
			identifier: staticMethod.notFound
			count: 3
			path: src/Auth/Guard/GuardUser.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:findRoleById\(\)\.$#'
			identifier: staticMethod.notFound
			count: 3
			path: src/Auth/Guard/GuardUser.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:getActivationRepository\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Auth/Guard/GuardUser.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:register\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Auth/Guard/GuardUser.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:registerAndActivate\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Auth/Guard/GuardUser.php

		-
			message: '#^Call to an undefined static method Cartalyst\\Sentinel\\Native\\Facades\\Sentinel\:\:update\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Auth/Guard/GuardUser.php

		-
			message: '#^Parameter \#1 \$config of class Cartalyst\\Sentinel\\Native\\SentinelBootstrapper constructor expects array\|null, Cartalyst\\Sentinel\\Native\\ConfigRepository given\.$#'
			identifier: argument.type
			count: 1
			path: src/Auth/Guard/GuardUser.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Cache\\Repository\:\:flush\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Bundles/Cache.php

		-
			message: '#^Instantiated class Illuminate\\Redis\\RedisManager not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Bundles/Cache.php

		-
			message: '#^Parameter \#1 \$app of class Illuminate\\Cache\\CacheManager constructor expects Illuminate\\Contracts\\Foundation\\Application, Illuminate\\Container\\Container given\.$#'
			identifier: argument.type
			count: 1
			path: src/Bundles/Cache.php

		-
			message: '#^Parameter \#1 \$app of static method Illuminate\\Support\\Facades\\Facade\:\:setFacadeApplication\(\) expects Illuminate\\Contracts\\Foundation\\Application\|null, Ions\\Container\\Container given\.$#'
			identifier: argument.type
			count: 1
			path: src/Foundation/Kernel.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: src/commands/RouteListCommand.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: src/commands/RouteListCommand.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Connection\:\:getSchemaState\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/commands/migrate/DumpCommand.php
