/vendor/
/.env
/var/cache/*
!/var/cache/.gitkeep
/var/logs/*
!/var/logs/.gitkeep
/var/templates/*
!/var/templates/.gitkeep
/var/app.key
/var/database.sqlite
/public/uploads/*
!/public/uploads/.gitkeep
